<%= simple_form_for [@contact, @contact.domestic_detail || @contact.build_domestic_detail], defaults: { input_html: {class: 'form-input mt-1'}, wrapper_html: {class: 'flex flex-col my-4 max-w-md'}}, data: { 'turbolinks-scroll': false } do |f| %>
<%= f.input :date_of_arrival, as: :date, input_html: {class: 'form-select p-2 border'} %>
<div class="mt-4">
    <hr class="pb-2" />
    <%= f.input :place_of_departure %>
    <%= f.input :mode_of_transport %>
    <%= f.input :transport_detail %>
</div>

<div class="mt-4">
    <%= f.button :submit, 'Save', 'data-turbolinks-scroll': false, class:'inline-flex items-center px-3 py-3 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150' %>
</div>
<% end %>
