<section class="mt-8 max-w-lg">
    <%= simple_form_for contact, defaults: { input_html: {class: 'form-input mt-1 font-sans'}, wrapper_html: {class: 'flex flex-col my-4'}, label_html: {class: 'mb-1'}} do |f|%>
    <div class="">
        <%= f.input :name %>
        <%= f.input :patient_id, label: "Patient ID"  %>
    </div>
    <div>
        <%= f.input :age %>
        <%= f.input :sex, input_html: {class: 'form-select'}%>
    </div>

    <div class="">
        <hr class="pb-4" />
        <%= f.input :tracking_type, input_html: {class: 'form-select'}%>
        <%= f.association :infector, collection: Contact.all(),input_html: {class: 'form-select'}%>
    </div>

    <div>
        <hr class="pb-4" />
        <%= f.input :phone %>
        <%= f.input :house_name %>
        <%= f.input :ward %>
        <%= f.input :panchayath %>
        <%= f.input :landmark %>
        <%= f.input :district, input_html: {class: 'form-select'}%>
    </div>

    <div>
        <hr class="pb-4" />
        <h3 class="text-lg font-semibold mt-4">Medical Risk Assesment</h3>
        <%= f.input :risk, input_html: {class: 'form-select'}%>
        <%= f.input :previous_medical, input_html: {class: 'form-select'}%>
        <%= f.input :symptoms, input_html: {class: 'form-select'}%>
    </div>

    <div>
        <hr class="pb-4" />
        <h3 class="text-lg font-semibold mt-4">Non Medical Needs</h3>
        <%= f.input :need_food, input_html: {class: 'mr-1 form-checkbox p-2'} , wrapper_html: {class: 'mt-2 my-1'}%>
        <%= f.input :need_drinking_water, input_html: {class: 'mr-1 form-checkbox p-2'}, wrapper_html: {class: 'my-1'} %>
        <%= f.input :need_household_water, input_html: {class: 'mr-1 form-checkbox p-2'}, wrapper_html: {class: 'my-1'} %>
        <%= f.input :need_sanitary_napkins, input_html: {class: 'mr-1 form-checkbox p-2'}, wrapper_html: {class: 'my-1'} %>
        <%= f.input :need_baby_foods, input_html: {class: 'mr-1 form-checkbox p-2'}, wrapper_html: {class: 'my-1'}%>
        <%= f.input :non_med_other, label: 'Other Non Medical Needs' %>
    </div>

    <div>
        <hr class="pb-4" />
        <h3 class="text-lg font-semibold mt-4">Medical Needs</h3>
        <%= f.input :need_medicines, input_html: {class: 'mr-1 form-checkbox p-2'} , wrapper_html: {class: 'mt-2 my-1'}%>
        <%= f.input :ongoing_dialysis, input_html: {class: 'mr-1 form-checkbox p-2'}, wrapper_html: {class: 'my-1'} %>
        <%= f.input :ongoing_cancer_chemo_radio_therapy, input_html: {class: 'mr-1 form-checkbox p-2'}, wrapper_html: {class: 'my-1'} %>
        <%= f.input :med_other, label: 'Other Medical Needs' %>
    </div>

    <div>
        <hr class="pb-4" />
        <h3 class="text-lg font-semibold mt-4">Feedback</h3>
        <%= f.input :is_non_med_req_met, label: 'Are Non-Medical needs met ?', input_html: {class: 'mr-1 form-checkbox p-2'} , wrapper_html: {class: 'mt-2 my-1'}%>
        <%= f.input :is_med_req_met, label: 'Are Medical needs met ? ', input_html: {class: 'mr-1 form-checkbox p-2'}, wrapper_html: {class: 'my-1'} %>
        <%= f.input :comment, label: 'Feedback Comments if Any' %>
    </div>

    <span class="inline-flex rounded-md shadow-sm">
        <%= f.button :submit, 'Submit Changes', class: 'mt-4 inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-gray-900 hover:bg-gray-800 focus:outline-none focus:border-gray-700 focus:shadow-outline-indigo active:bg-gray-700 transition ease-in-out duration-150' %>
    </span>
    <% end %>
</section>
