<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.number_field :patient_id %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.number_field :sex %>
  </div>

  <div class="field">
    <%= form.label :house_name %>
    <%= form.text_field :house_name %>
  </div>

  <div class="field">
    <%= form.label :ward %>
    <%= form.number_field :ward %>
  </div>

  <div class="field">
    <%= form.label :panchayath %>
    <%= form.text_field :panchayath %>
  </div>

  <div class="field">
    <%= form.label :landmark %>
    <%= form.text_field :landmark %>
  </div>

  <div class="field">
    <%= form.label :district %>
    <%= form.number_field :district %>
  </div>

  <div class="field">
    <%= form.label :risk %>
    <%= form.number_field :risk %>
  </div>

  <div class="field">
    <%= form.label :previous_medical %>
    <%= form.number_field :previous_medical %>
  </div>

  <div class="field">
    <%= form.label :symptoms %>
    <%= form.number_field :symptoms %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
