<h1>New Contact</h1>

<!-- <%= render 'form', contact: @contact %> -->

<section class="max-w-md mx-auto">
    <%= simple_form_for @contact, defaults: { input_html: {class: 'form-input mt-1 font-sans'}, wrapper_html: {class: 'flex flex-col my-2'}} do |f|%>
        <%= f.input :name %>
        <%= f.input :patient_id %>
        <%= f.input :phone %>
        <%= f.input :age %>
        <%= f.input :sex %>
        <%= f.input :house_name %>
        <%= f.input :ward %>
        <%= f.input :panchayath %>
        <%= f.input :landmark %>
        <%= f.input :district %>
        <%= f.input :risk %>
        <%= f.input :previous_medical %>
        <%= f.input :symptoms %>

        <%= f.button :submit, 'Create New Contact' %>
    <% end %>
</section>
