<h1>New Contact</h1>

<!-- <%= render 'form', contact: @contact %> -->

<%= simple_form_for @contact do |f|%>
    <%= f.input :name %>
    <%= f.input :patient_id %>
    <%= f.input :phone %>
    <%= f.input :age %>
    <%= f.input :sex %>
<% end %>

<%= link_to 'Back', contacts_path %>
