<h1>New Contact</h1>

<!-- <%= render 'form', contact: @contact %> -->

<%= simple_form_for @contact do |f|%>
    <%= f.input :name %>
    <%= f.input :patient_id %>
    <%= f.input :phone %>
    <%= f.input :age %>
    <%= f.input :sex %>
    <%= f.input :house_name %>
    <%= f.input :ward %>
    <%= f.input :panchayath %>
    <%= f.input :landmark %>
    <%= f.input :district %>
    <%= f.input :risk %>
    <%= f.input :previous_medical %>
    <%= f.input :symptoms %>

    <%= f.button :submit, 'Create New Contact' %>
<% end %>

<%= link_to 'Back', contacts_path %>
