<p id="notice"><%= notice %></p>

<div class="bg-white shadow overflow-hidden  sm:rounded-lg">
    <div class="px-4 py-5 border-b border-gray-200 flex items-center justify-between sm:px-6">
        <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Contact Information
            </h3>
            <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
                Information regarding the Contact.
            </p>
        </div>
            <%= link_to 'Edit Contact', edit_contact_path(@contact), class: 'inline-block items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-gray-900 hover:bg-gray-500 focus:outline-none focus:border-gray-700 focus:shadow-outline-indigo active:bg-gray-700 transition ease-in-out duration-150' %>
    </div>
    <div class="px-4 py-5 sm:p-0">
        <dl>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Name
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <%= @contact.name %>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Status
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <%= content_tag :span, @contact.tracking_type.to_s.capitalize + ' Suspect' ,class: "px-2 inline-flex text-xs leading-5 font-semibold rounded-full text-gray-600 #{@contact.tracking_type.to_s == "primary" ? 'bg-red-100 text-red-800' : 'bg-gray-200'}" %>
                    <%= content_tag :span, @contact.risk.to_s.capitalize + ' Risk' ,class: "ml-1 px-2 inline-flex text-xs leading-5 font-semibold rounded-full text-gray-600 #{@contact.risk.to_s == "high" ? 'bg-red-100 text-red-800' : 'bg-gray-200'}" %>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Phone Number
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <%= @contact.phone %>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Age / Sex
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <%= @contact.sex.to_s.capitalize() %>, <%= @contact.age %> years old
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Infected From
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <%= @contact.infector&.name %>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Infectees
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <ul>
                    <% @contact.infectees.each do |infectee| %>
                        <li class="pl-3 my-1 pr-4 py-3 flex border border-gray-200 rounded-md items-center justify-between text-sm leading-5">
                            <%= link_to "#{infectee.name}, #{infectee.patient_id} ", related_contact, class: 'ml-2 truncate' %>
                            <div class="ml-4 flex-shrink-0">
                                <%= link_to 'Show', contact_path(infectee), class: 'font-medium text-indigo-600 hover:text-indigo-500 transition duration-150 ease-in-out' %>
                            </div>
                        </li>
                    <% end %>
                    </ul>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Address
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <%= "#{@contact.house_name}, #{@contact.panchayath}, #{@contact.landmark}, #{@contact.district.to_s.capitalize}" %>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    About
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim incididunt cillum culpa consequat. Excepteur qui ipsum aliquip consequat sint. Sit id mollit nulla mollit nostrud in ea officia proident. Irure nostrud pariatur mollit ad adipisicing reprehenderit deserunt qui eu.
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Related Contacts
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <ul class="">
                        <% @related_contacts.each do |related_contact| %>
                        <li class="pl-3 my-1 pr-4 py-3 flex border border-gray-200 rounded-md items-center justify-between text-sm leading-5">
                            <%= link_to "#{related_contact.name}, #{related_contact.patient_id} ", related_contact, class: 'ml-2 truncate' %>
                            <div class="ml-4 flex-shrink-0">
                                <%= link_to 'Show', contact_path(related_contact), class: 'font-medium text-indigo-600 hover:text-indigo-500 transition duration-150 ease-in-out' %>
                            </div>
                        </li>
                        <% end %>
                    </ul>
                </dd>
            </div>
        </dl>
    </div>
</div>
