<div class="bg-white shadow overflow-hidden  sm:rounded-lg">
    <div class="px-4 py-5 border-b border-gray-200 flex flex-col items-between justify-center  lg:flex-row lg:items-center lg:justify-between sm:px-6">
        <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Contact Information
            </h3>
            <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
                Information regarding the Contact.
            </p>
        </div>
        <div class="mt-3 lg:mt-0">
            <%= link_to 'Edit Contact', edit_contact_path(@contact), class: 'inline-flex items-center px-3 py-2 rounded-md text-sm font-medium leading-5 bg-gray-100 text-gray-800' %>
            <%= link_to 'Not Reachable', call_not_reachable_contact_path(@contact, user_id: @current_user.id), class: 'ml-0 lg:mt-4 inline-flex items-center px-3 py-2 rounded-md text-sm font-medium leading-5 bg-red-100 text-red-800' %>
            <%= link_to 'Mark as Called', make_call_contact_path(@contact, user_id: @current_user.id), class: 'lg:ml-1 inline-flex items-center px-3 py-2 text-sm rounded-md font-medium leading-5 bg-green-100 text-green-800' %>
        </div>
    </div>
    <div class="px-4 py-5 sm:p-0">
        <dl>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Name
                </dt>
                <dd class="mt-1 text-sm flex flex-col leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <p>
                        <%= @contact.name %>
                    </p>
                    <div>
                        <p class="inline-block items-center px-2.5 py-0.5 rounded-md text-sm font-medium leading-5 bg-blue-100 text-blue-800">
                            <%= @contact.id %>
                        </p>
                    </div>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Status
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <% if @contact.tracking_type.present? %>
                    <%= content_tag :span, @contact.tracking_type.to_s.capitalize + ' Contact' ,class: "px-2 inline-flex text-xs leading-5 font-semibold rounded-full text-gray-600 #{["patient", "primary"].include?(@contact.tracking_type.to_s) ? 'bg-red-100 text-red-800' : 'bg-gray-200'}" %>
                    <% end %>
                    <% if @contact.passenger_type.present? %>
                    <%= content_tag :span, @contact.passenger_type.to_s.split("_").join(" ").titleize ,class: "inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-semibold leading-4 bg-yellow-100 text-yellow-800" %>
                    <% end %>
                    <% if @contact.risk.present? %>
                    <%= content_tag :span, @contact.risk.to_s.capitalize + ' Risk' ,class: "ml-1 px-2 inline-flex text-xs leading-5 font-semibold rounded-full text-gray-600 #{@contact.risk.to_s == "high" ? 'bg-red-100 text-red-800' : 'bg-gray-200'}" %>
                    <% end %>
                    <%= content_tag :span, @contact.isolation_type.to_s.titleize ,class: "ml-1 px-2 inline-flex text-xs leading-5 font-semibold rounded-full text-gray-600 #{@contact.isolation_type.to_s != "home_isolation" ? 'bg-red-100 text-red-800' : 'bg-gray-200'}" %>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Days to Exit from Quarantine
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <% if @contact.try(:flight_passenger?) && @contact.flight_detail.try(:date_of_arrival) %>
                        <% @day_to_exit_from_quarantine = @contact.flight_detail.date_of_arrival + (@contact.flight_detail.is_notified_country ? 28.days : 14.days) %>
                    <% elsif @contact.try(:domestic_passenger?) && @contact.domestic_detail.try(:date_of_arrival)%>
                        <% @day_to_exit_from_quarantine = @contact.domestic_detail.date_of_arrival + 28.days %>
                    <% elsif @contact.date_of_first_contact.present? %>
                            <% @day_to_exit_from_quarantine = @contact.date_of_first_contact + 28.days %>
                    <% else %>
                        <% @day_to_exit_from_quarantine = nil %>
                    <% end %>

                    <% if @day_to_exit_from_quarantine.present? %>
                        <% if @day_to_exit_from_quarantine > Date.today %>
                            <%= distance_of_time_in_words(Time.now, @day_to_exit_from_quarantine)%>, on <span class="font-bold"><%= @day_to_exit_from_quarantine.to_s(:long) %></span>
                        <% else %>
                            <p class="font-bold">
                                Out of Quarantine
                            </p>
                        <% end %>
                    <% else %>
                        Date of Contact is not Known
                    <% end %>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Phone Number, Click to Call
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <%= link_to @contact.phone,"tel:#{@contact.phone}" %>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Last Called
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <% if @last_call %>
                    <% if @last_call.not_reachable %>
                    Not Reachable <span class="font-bold"><%= time_ago_in_words(@last_call.created_at) %></span> ago, by <%= @last_call.user.email %>
                    <% else %>
                    Called <span class="font-bold"><%= time_ago_in_words(@last_call.created_at) %></span> ago, by <%= @last_call.user.email %>
                    <% end %>
                    <% else %>
                    Not called yet
                    <% end %>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Age / Gender
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <%= @contact.gender.to_s.capitalize() %>, <%= @contact.age %> years old
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Address
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <ul>
                        <li class="my-2"><span class="font-bold">House:</span> <span><%= @contact.house_name %></span></li>
                        <li class="my-2"><span class="font-bold">Ward: </span><%= @contact.ward %></span></li>
                        <li class="my-2"><span class="font-bold">Panchayath: </span><%= @contact.panchayath %></span></li>
                        <li class="my-2"><span class="font-bold">Landmark: </span><%= @contact.landmark %></span></li>
                        <li class="my-2"><span class="font-bold">District: </span><%= @contact.district.name.capitalize %></span></li>
                        <% if @contact.phc_name %>
                        <li class="my-4"><span class="font-bold">PHC: </span><%= @contact.phc_name.titleize %></span></li>
                        <% end %>
                    </ul>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Health Institution
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <ul>
                        <li class="my-2"><span class="font-bold">Health Institution: </span> <span><%= @contact.try(:health_institution) %></span></li>
                        <li class="my-2"><span class="font-bold">Field Staff: </span> <span><%= @contact.try(:field_staff_name) %></span></li>
                        <li class="my-2"><span class="font-bold">Field Staff Phone: </span> <span><%= @contact.try(:field_staff_phone) %></span></li>
                    </ul>
                </dd>
            </div>
            <% if @contact.try(:flight_passenger?) %>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Flight Detail
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <%= render 'flight_detail/form' %>
                </dd>
            </div>
            <% end %>
            <% if @contact.try(:domestic_passenger?) %>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Domestic Travel Detail
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <%= render 'domestic_details/form' %>
                </dd>
            </div>
            <% end %>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Previous Medical Conditions
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <ul>
                        <% @contact.previous_medical_conditions.each do |previous_medical_condition| %>
                        <li class="mt-2	block p-2 flex items-center justify-between border rounded">
                            <p>
                                Has <%= previous_medical_condition.condition_type.to_s.titleize %>
                            </p>
                            <div>
                                <span class="text-xs">
                                    Information given
                                    <%= time_ago_in_words(previous_medical_condition.created_at) %> ago
                                </span>
                            </div>
                        </li>
                        <% end %>
                    </ul>
                    <div class="mt-4">
                        <hr />
                        <h4 class="mt-4 text-gray-600">Add Previous Medical Conditions</h4>
                        <%= render 'previous_medical_conditions/form' %>
                    </div>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Symptoms
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <ul>
                        <% @contact.symptoms.each do |symptom| %>
                        <li class="mt-2	block p-2 flex items-center justify-between border rounded">
                            <p>
                                Has <%= symptom.symptom_type.to_s.titleize %>
                            </p>
                            <div>
                                <span class="text-xs">
                                    Information given
                                    <%= time_ago_in_words(symptom.created_at) %> ago
                                </span>
                            </div>
                        </li>
                        <% end %>
                    </ul>
                    <div class="mt-4">
                        <hr />
                        <h4 class="mt-4 text-gray-600">Add Previous Medical Conditions</h4>
                        <%= render 'symptoms/form' %>
                    </div>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Medical Requirements
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <ul>
                        <% @contact.medical_reqs.each do |medical_req| %>
                        <% if not medical_req.fullfilled? %>
                        <li class="mt-2	block p-2 flex items-center justify-between border rounded">
                            <p>
                                Needs <%= medical_req.requirement_type.to_s.titleize %>
                            </p>
                            <div>
                                <span class="text-xs">
                                    Requested
                                    <%= time_ago_in_words(medical_req.created_at) %> ago
                                </span>
                                <%= link_to 'Complete', fullfill_contact_medical_req_path(id: medical_req.id, contact_id: @contact.id) ,class: 'inline-flex ml-2 items-center px-2 py-1 border border-transparent text-xs leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-50 focus:outline-none focus:border-indigo-300 focus:shadow-outline-indigo active:bg-indigo-200 transition ease-in-out duration-150' %>
                                <%= link_to 'Cancel',contact_medical_req_path(id: medical_req.id, contact_id: @contact.id) ,method: :delete,class: 'inline-flex ml-2 items-center px-2 py-1 border border-transparent text-xs leading-4 font-medium rounded-md text-red-700 bg-red-100 hover:bg-indigo-50 focus:outline-none focus:border-indigo-300 focus:shadow-outline-indigo active:bg-indigo-200 transition ease-in-out duration-150' %>
                            </div>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <p class="mt-2">
                        <%= @contact.med_other %>
                    </p>
                    <div class="mt-4">
                        <hr />
                        <h4 class="mt-4 text-gray-600">Add Medical Requirements</h4>
                        <%= render 'medical_reqs/form' %>
                    </div>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Non Medical Requirements
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <ul>
                        <% @contact.non_medical_reqs.each do |non_medical_req| %>
                        <% if not non_medical_req.fullfilled? %>
                        <li class="mt-2	block p-2 flex items-center justify-between border rounded">
                            <p>
                                Needs <%= non_medical_req.requirement_type.to_s.titleize %>
                            </p>
                            <div>
                                <span class="text-xs">
                                    Requested
                                    <%= time_ago_in_words(non_medical_req.created_at) %> ago
                                </span>
                                <%= link_to 'Complete', fullfill_contact_non_medical_req_path(id: non_medical_req.id, contact_id: @contact.id) ,class: 'inline-flex ml-2 items-center px-2 py-1 border border-transparent text-xs leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-50 focus:outline-none focus:border-indigo-300 focus:shadow-outline-indigo active:bg-indigo-200 transition ease-in-out duration-150' %>
                                <%= link_to 'Cancel',contact_non_medical_req_path(id: non_medical_req.id, contact_id: @contact.id) ,method: :delete,class: 'inline-flex ml-2 items-center px-2 py-1 border border-transparent text-xs leading-4 font-medium rounded-md text-red-700 bg-red-100 hover:bg-indigo-50 focus:outline-none focus:border-indigo-300 focus:shadow-outline-indigo active:bg-indigo-200 transition ease-in-out duration-150' %>
                            </div>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <%= @contact.non_med_other %>
                    <div class="mt-4">
                        <hr />
                        <h4 class="mt-4 text-gray-600">Add new Non Medical Requirements</h4>
                        <%= render 'non_medical_reqs/form' %>
                    </div>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Feedback
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <%= simple_form_for @contact, defaults: { input_html: {class: 'form-input mt-1 font-sans'}, wrapper_html: {class: 'flex flex-col my-4'}, label_html: {class: 'mb-1'}} do |f|%>
                    <%= f.input :did_meet_suspected_patient , label: "Did Meet Suspected Patient ?",input_html: {class: 'mr-2 form-checkbox p-2'}, wrapper_html: {class: 'my-3'}%>
                    <div class="mt-4">
                        <hr class="pb-2" />
                        <%= f.input :profession, label: 'Profession' %>
                        <%= f.input :is_health_worker, label: "Is Health Worker ?",input_html: {class: 'mr-2 form-checkbox px-2'} %>
                    </div>
                    <div class="mt-4">
                        <hr class="pb-2" />
                        <%= f.input :med_other, label: 'Other Medical Needs' %>
                        <%= f.input :non_med_other, label: 'Other Non Medical Needs' %>
                    </div>
                    <div class="mt-4">
                        <hr class="pb-2" />

                        <%= f.input :is_non_med_req_met, label: 'Are Non-Medical needs met ?', input_html: {class: 'mr-1 form-checkbox p-2'} , wrapper_html: {class: 'mt-2 my-1'}%>
                        <%= f.input :is_med_req_met, label: 'Are Medical needs met ? ', input_html: {class: 'mr-1 form-checkbox p-2'}, wrapper_html: {class: 'my-1'} %>
                    </div>
                    <div class="pt-8">
                        <%= f.input :comment, label: 'Feedback Comments if Any' %>
                        <%= f.button :submit, 'Save', class: 'inline-flex items-center px-3 py-3 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150' %>
                    </div>
                    <% end %>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Related Contacts
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <ul class="">
                        <% @related_contacts.each do |related_contact| %>
                        <li class="pl-3 my-1 pr-4 py-3 flex border border-gray-200 rounded-md items-center justify-between text-sm leading-5">
                            <%= link_to related_contact.name, related_contact, class: 'ml-2 truncate' %>
                            <div class="flex">
                                <% last_call = related_contact.calls.order("created_at").last %>
                                <% if last_call%>
                                <p>
                                    Called <span class="font-bold"><%= time_ago_in_words(last_call.created_at) %></span> ago
                                </p>
                                <% else %>
                                Not called yet
                                <% end %>
                                <div class="ml-2 flex-shrink-0">
                                    <%= link_to 'Mark as Called', make_related_call_contact_path(related_contact_id: related_contact.id, user_id: @current_user.id, parent_id: @contact.id), class: 'inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium leading-5 bg-red-100 text-red-800' %>
                                </div>
                                <div class="ml-2 flex-shrink-0">
                                    <%= link_to related_contact.id, related_contact, class: 'inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium leading-5 bg-purple-100 text-purple-800' %>
                                </div>
                            </div>
                        </li>
                        <% end %>
                    </ul>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Infected From
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <% if @contact.infector %>
                    <li class="pl-3 my-1 pr-4 py-3 flex border border-gray-200 rounded-md items-center justify-between text-sm leading-5">
                        <%= link_to @contact.infector.name, @contact.infector, class: 'ml-2 truncate' %>
                        <div class="ml-4 flex-shrink-0">
                            <%= link_to @contact.infector.patient_id, @contact.infector, class: 'inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium leading-5 bg-purple-100 text-purple-800' %>
                        </div>
                    </li>
                    <% else %>
                    <p>
                        Unknown Source
                    </p>
                    <% end %>
                </dd>
            </div>
            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Infectees
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    <ul>
                        <% @contact.infectees.each do |infectee| %>
                        <li class="pl-3 my-1 pr-4 py-3 flex border border-gray-200 rounded-md items-center justify-between text-sm leading-5">
                            <%= link_to infectee.name, infectee, class: 'ml-2 truncate' %>
                            <div class="ml-4 flex-shrink-0">
                                <%= link_to infectee.patient_id, contact_path(infectee), class: 'inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium leading-5 bg-purple-100 text-purple-800' %>
                            </div>
                        </li>
                        <% end %>
                    </ul>
                </dd>
            </div>
        </dl>
    </div>
</div>
