<!DOCTYPE html>
<html>
  <head>
    <title>Corona RM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="bg-gray-100 leading-normal tracking-normal font-sans text-gray-900">
      <header class="px-8 lg:px-16 py-4 flex justify-between items-center w-full shadow-md bg-white">
          <%= link_to root_path do %>
              <h4 class="font-bold">Corona RM</h4>
          <% end %>

          <div class="flex items-center text-sm items-center">
          <% if current_user.try(:admin?) %>
                  <%= link_to 'Create new User', new_user_registration_path, class: 'inline-flex items-center px-3 py-2 rounded-md text-sm font-medium leading-5 bg-indigo-100 text-indigo-800' %>
                  <%= link_to 'Dashboard', dashboard_index_path, class: 'inline-flex items-center px-3 py-2 rounded-md text-sm font-medium leading-5 text-indigo-800' %>
          <% end %>

          <% if user_signed_in? %>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'ml-2 inline-block rounded-md' %>
          <% else %>
              <%= link_to 'Log in', new_user_session_path ,class: 'ml-2 text-md inline-block rounded-md' %>
          <% end %>
          </div>
      </header>

      <% if flash.alert %>
          <div class="bg-red-500 <%= 'hidden' if not flash.alert %>">
              <div class="container px-2 mx-auto py-2 py-4 text-white text-center"><%= flash[:alert] %></div>
          </div>
      <% else %>
          <div class="bg-green-500 <%= 'hidden' if not flash.notice %>">
              <div class="container px-2 mx-auto py-4 text-white text-center "><%= flash.notice %></div>
          </div>
      <% end %>

      <main class="p-8 py-10 max-w-7xl mx-auto">
        <%= yield %>
      </main>
  </body>
</html>
