<!DOCTYPE html>
<html>
  <head>
    <title>Coronarm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="bg-gray-100 leading-normal tracking-normal font-sans text-gray-900">
      <header class="px-6 py-4 flex justify-between items-center w-full shadow-md bg-white">
          <%= link_to root_path do %>
              <h4 class="font-bold">Corona RM</h4>
          <% end %>

          <div>
              <%= link_to '+ New Contact', new_contact_path ,class: 'text-sm inline-block rounded-md' %>
          </div>
      </header>

      <% if flash.alert %>
          <div class="bg-red-500 <%= 'hidden' if not flash.alert %>">
              <div class="container px-2 mx-auto py-2 py-4 text-white text-center"><%= flash[:alert] %></div>
          </div>
      <% else %>
          <div class="bg-green-500 <%= 'hidden' if not flash.notice %>">
              <div class="container px-2 mx-auto py-4 text-white text-center "><%= flash.notice %></div>
          </div>
      <% end %>

      <main class="px-6 py-10 pt-6">
        <%= yield %>
      </main>
  </body>
</html>
